@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* basic CSS seting */
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Noto Sans KR";
  border: none;
  background: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
  position:fixed;
}

li:hover{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}